
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 480px 480px 480px 5px 475px;
    grid-template-rows: 40px 5px 292px 5px 245px 5px 245px 5px 45px 5px 40px;     
}
.bottom {
    visibility: hidden;
    background-color: rgb(165, 111, 219);
    grid-column: 1 / 6;
    text-align: center;
    padding-top: 10px;
}
.hidden-h {
    visibility: hidden;
    text-align: center;
}
header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 188px 188px 188px 188px 188px 188px 188px 188px 188px 188px 1fr;
    grid-template-rows: 5px 30px 5px;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: violet;

}
header > img {
    display: inline-block;
    width: 30px;
    grid-column: 2 / 3;
    /* margin-left: 94px; */
    margin-right: 94px;
    grid-row-start: 2;
    grid-row-end: 3;
}
header > nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    grid-column: 5 / 8;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
}
header > .soc {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    grid-column: 10 / 12;
    grid-row: 2 / 3;
    background-color: white;
}

.hero {
    display: inline-block;
    width: 100%;
    grid-column:  1 / 6;
    background-color: aliceblue;
    text-align: center;
    padding-top: 153px;
    padding-bottom: 153px;
    grid-row: 3 / 4;
    padding: 0;
    padding-top: 100px;
}
.testimonials {
    display: grid;
    width: 100%;
    grid-template-columns: 5px 712px 5px 712px 5px;
    grid-template-rows: 80px 160px 5px;
    width: 100%;
    grid-column:  1 / 4;
    background-color: lightblue;
    text-align: center;
    grid-row: 5 / 6;
}
.testimonials > .top {
    display: inline-block;
    width: 100%;
    grid-column: 1 / 5;
    padding-top: 30px;
}
.testimonials > .left {
    display: inline-block;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color:darkgray;
    padding-top: 50px;
}
.testimonials > .right {
    display: inline-block;
    width: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: darkgray;
    padding-top: 50px;
}
.ads {
    display: inline-block;
    width: 100%;
    background-color: gray;
    grid-column: 5 / 6;
    grid-row: 5 / 10;
    text-align: center;
    padding-top: calc(100% - 200px);
}
.services {
    display: grid;
    width: 100%;
    grid-template-columns: 5px 473px 5px 473px 5px 473px 5px;
    grid-template-rows: 80px 160px 5px;
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    background-color: lightpink;
    text-align: center;
}
.services > .top {
    display: inline-block;
    width: 100%;
    grid-column: 1 / 7;
    padding-top: 30px;
}
.services .left-column {
    display: inline-block;
    width: 100%;
    background-color: darkgray;
    padding-top: 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.services .right-column {
    display: inline-block;
    width: 100%;
    background-color: darkgray;
    padding-top: 50px;
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
.services .center-column {
    display: inline-block;
    width: 100%;
    background-color: darkgray;
    padding-top: 50px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.freelance {
    display: inline-block;
    width: 100%;
    grid-column: 1 / 4;
    background-color: lightgreen;
    grid-row: 9 / 10;
    text-align: center;
    padding-top: 10px;
}
footer {
    display: inline-block;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 11 / 12;
    background-color: lightyellow;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 990px) {
    .container {
        grid-template-columns: 318px 318px 318px;
        grid-template-rows: 40px 5px 270px 5px 245px 5px 245px 5px 45px 5px 40px;     
    }
    nav, div > .ads, .services > .center-column {
        visibility: hidden;
    }
    header {
        grid-template-columns: 1fr 98px 98px 98px 98px 98px 98px 98px 98px 98px 1fr;
        grid-column: 1 / 6;  
    }
    header > img {
        width: 30px;
        grid-column: 2 / 3;
    }    
    header > .soc {
        grid-column: 9 / 11;
    }
    .hero {       
        grid-column:  1 / 6;
        grid-row: 3 / 4;
     }
    .services {
        grid-template-columns: 1fr 480px 5px 480px 1fr;
        grid-row: 5 / 6;
        grid-column: 1 / 6;
    }
    .services > .right-column {
        grid-column: 4 / 5;
    }
    .testimonials {
        grid-row: 7 / 8;
        grid-column: 1 / 6;
        grid-template-columns: 1fr 480px 5px 480px 1fr;
    }
    .testimonials > .left {
        grid-column: 2 / 3;
    }
    .testimonials > .right {
        grid-column: 4 / 5;
    }
    .freelance {
        grid-column: 1 / 6;
    }
    footer {
        grid-column: 1 / 6;
    }
}
@media (max-width: 502px) {
    .container {
        grid-template-columns: 5px 151px 151px 151px 5px;
        grid-template-rows: 40px 5px 220px 5px 250px 5px 40px 5px 250px 5px 45px 5px 44px;    
    } 
    img, .soc {
        visibility: hidden;
    }
    header {
        display: inline-block;
        grid-column: 1 / 7;
    }
    .hero {
        grid-column: 1 / 7;
    }
    .services {
        grid-template-columns: 5px 487px 5px;
        grid-template-rows: 57px 57px 5px 57px 5px 57px 5px;
        grid-row: 5 / 6;
        grid-column: 1 / 7;
    }
    .services > .top {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .services > .left-column {
        padding-top: 20px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .services > .center-column {
        visibility: visible;
        padding-top: 10px;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }   
    .services > .right-column {
        padding-top: 20px;
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .freelance {
        grid-row: 7 / 8;
        grid-column: 1 / 7;
    }
    .testimonials {
        grid-template-columns: 5px 487px 5px;
        grid-template-rows: 78px 78px 5px 73px 5px;
        grid-row: 9 / 10;
        grid-column: 1 / 7;
    }
    .testimonials > .top {
        padding-bottom: 30px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .testimonials > .left {
        padding-top: 20px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .testimonials > .right {
        padding-top: 10px;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    footer {
        grid-row: 11 / 12;
        grid-column: 1 / 7;
    }
    .bottom {
        visibility: visible;
        grid-row: 13 / 14;
        grid-column: 1 / 7;
    }
    .hidden-h {
        visibility: visible;
        padding-top: 10px;
    }
}